#carousel {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding-top: 3%;
  padding-bottom: 4%;
}

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 150px;
}

#slides ul {
  list-style: none;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  height: 250px;
  float: left;
  text-align: center;
  position: relative;
  font-family: lato, sans-serif;
}

/* Styling for prev and next buttons */

.btn-bar {
  width: 60%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
}

#buttons {

  justify-content: center;
  display: flex;
}

#buttons a {
  text-align: center;
  display: block;
  font-size: 36px;
  float: left;
  outline: 0;
  margin: 0 25px;
  color: #fff;
  text-decoration: none;
  padding: 9px;
  width: 35px;
}

a#prev:hover,
a#next:hover {
  color: #FFF;
  text-shadow: .5px 0px #b14943;
}

.quote-phrase,
.quote-author {
  font-family: sans-serif;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  padding: 11px 34px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
  height: auto;
  font-size: 14px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  width: 500px
}

.quote-marks {
  font-size: 30px;
  padding: 0 3px 3px;
  position: inherit;
}

.quote-author {
  font-style: normal;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  border: 2px solid #fff;
}

.quoteContainer,
.authorContainer {
  display: flex;
  justify-content: center;
}
</style>